    /*
** Author        : Chafik Amraoui
** Design Source : Frontendmonetor.io
**  Name         : Orange product page
** Github        : Github.io/chafikamr
** date          : 10/10/2021
** licence       : visit (https://www.frontendmentor.io)
*/
    /* Global Rules */
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    body {
        position: relative;
    }
    
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    /* End Global Rules */
    /** start the header **/
    
    header .navbar-brand a {
        color: black;
        margin: 0 20px 0 0;
    }
    
    header .nav-item {
        position: relative;
    }
    
    header .nav-item::before {
        position: absolute;
        content: '';
        width: 0;
        height: 4px;
        background-color: coral;
        bottom: -26px;
        right: 0;
        transition: .3s ease-in-out;
    }
    
    header .nav-item:hover::before {
        width: 100%;
    }
    
    header .active::before {
        width: 100%;
    }
    
    header .avatar img {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    header .add-o-card i {
        font-size: 19px;
        color: #888;
        cursor: pointer;
        position: relative;
    }
    
    header .cart_icon::after {
        content: '3';
        /* padding: 7px; */
        width: 23px;
        border-radius: 50%;
        background-color: coral;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 11px;
        top: -4px;
        height: 23px;
        position: absolute;
        font-size: 12px;
    }
    
    header .add-o-card {
        position: relative;
    }
    
    .cart-content {
        position: absolute;
        width: 300px;
        /* height: 123px; */
        height: fit-content;
        background-color: white;
        padding: 12px;
        border-radius: 5px;
        box-shadow: 1px 1px 7px 0px #0000000d;
        bottom: -140px;
        right: -13px;
        font-size: 13px;
    }
    
    .empty-card {
        font-size: 13px;
        color: #888;
    }
    
    .cart-content header {
        border-bottom: 1px solid rgb(156, 156, 156);
        margin-bottom: 20px;
    }
    
    .cart-content header i {
        font-size: 14px;
        cursor: pointer;
    }
    
    .navbar {
        position: static;
    }
    
    @media (max-width: 762px) {
        .navbar-nav {
            position: absolute;
            background: white;
            width: 50%;
            top: 0;
            left: 0;
            z-index: 3;
            padding: 10px;
            height: 100%;
        }
        header .nav-item::before {
            display: none;
        }
    }
    /* End header section */
    /* Start product details */
    
    .product-thumbnail .label {
        color: coral;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    .product-thumbnail .title h2 {
        /* font-size: 14px; */
    }
    
    .description {
        line-height: 1.6em;
    }
    
    .offer {
        padding: 2px 5px;
        background-color: rgba(255, 127, 80, 0.322);
        color: coral;
        border-radius: 3px;
    }
    
    .product-thumbnail .thumbnail {
        width: 100%;
        cursor: pointer;
    }
    
    .product-thumbnail .thumbnail .main-img img {
        display: inline-block;
        border-radius: 10px;
        width: 100%;
    }
    
    .blure {
        opacity: 0.6;
        cursor: pointer;
        transition: transform .3s ease-in-out;
    }
    
    .blure:hover {
        transform: translateY(-5px);
    }
    
    .product-thumbnail ul img {
        width: 100%;
        display: inline-block;
        border-radius: 10px;
    }
    
    .product-thumbnail ul li {
        display: inline-block;
        width: 22%;
    }
    
    .action .quantity {
        width: 150px;
        flex-wrap: nowrap;
    }
    
    .action .quantity .btn {
        color: coral;
    }
    
    .action .add-to-card-botton .btn {
        background-color: coral;
        color: white;
        width: 200px;
        box-shadow: 2px 4px 9px 0px #ff7f50a8;
        transition: box-shadow .3s ease-in-out;
    }
    
    .action .add-to-card-botton .btn:hover {
        box-shadow: 2px 4px 15px 3px #ff7f5057;
    }
    
    .datails_padination {
        padding: 50px;
    }
    
    @media (max-width: 762px) {
        .datails_padination {
            padding: 30px 20px;
        }
    }
    /*** Start lite box**/
    
    .lite-box-container {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: none;
        z-index: 3;
    }
    
    .lite-box-modal {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background-color: black;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .lite-box-modal img {
        width: 500px;
    }
    
    .lite-box-modal .arrow {
        font-size: 30px;
        color: white;
        margin: 0 50px;
        cursor: pointer;
        transition: color .3s ease-in-out;
    }
    
    .lite-box-modal .arrow:hover {
        color: coral;
    }
    
    .lite-box-modal .modal-close-ic {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
        cursor: pointer;
    }
    
    @media (max-width: 762px) {
        .lite-box-modal img {
            width: 90%;
        }
        header .add-o-card {
            position: static;
        }
        .cart-content {
            width: 90%;
            right: 5%;
            height: fit-content;
            top: 10%;
        }
    }
    /*** order in cart**/
    
    .product-in-cart .img {
        width: 20%;
        margin-right: 10px;
    }
    
    .product-in-cart img {
        width: 100%;
        display: block;
    }
    
    .product-in-cart .order_title {
        font-size: 11px;
        display: block;
    }
    
    .delet_order {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .order_details {
        width: 80%;
    }
    
    .cart-content .btn {
        background-color: coral;
        color: white;
        width: 100%;
        margin-top: 10px;
    }